<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.egorbarinov.springlevelone" />

    <bean id="weapon" class="com.egorbarinov.springlevelone.Kalashnikov">
        <property name="magazine" ref="blankProjectile"/> <!-- передаем ссылку на холостые патроны-->

    </bean>

    <bean id="weaponInnerBean" class="com.egorbarinov.springlevelone.Kalashnikov">
        <property name="magazine">
            <bean class="com.egorbarinov.springlevelone.BlankProjectile"/>  <!-- здесь вместо ссылки на компоненту непосредственно можем указать необходимый компонент-->
        </property>
    </bean>


    <bean id="weaponConstructor" class="com.egorbarinov.springlevelone.Kalashnikov">
        <constructor-arg name="magazine" ref="realProjectile"/> <!-- передаем ссылку на боевые патроны-->
    </bean>
</beans>
